# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import sklearn

sklearn.__version__

'0.22.1'

# Loading Data

In [3]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetches stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')
df_raw = fetch_financial_data()
df_raw.head()

C:\Users\User\anaconda3\lib\site-packages\pandas_datareader\compat\__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

               Open       High        Low    Close   Volume
Date
2020-05-29  2415.94  2442.3700  2398.1973  2442.37  3529329
2020-05-28  2384.33  2436.9699  2378.2300  2401.10  3193136
2020-05-27  2404.99  2413.5800  2330.0000  2410.39  5056945
2020-05-26  2458.00  2462.0000  2414.0600  2421.86  3568153
2020-05-22  2455.01  2469.8500  2430.1300  2436.88  2867079

# Creating a copy of the data

In [5]:
df= df_raw.copy()
df=df[:5]
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5 entries, 2020-05-29 to 2020-05-22
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5 non-null      float64
 1   High    5 non-null      float64
 2   Low     5 non-null      float64
 3   Close   5 non-null      float64
 4   Volume  5 non-null      int64
dtypes: float64(4), int64(1)
memory usage: 240.0 bytes

# Generating new variables

In [6]:
df['day'] = df.index.day
df['month'] = df.index.month
df['year'] = df.index.year
df

               Open       High        Low    Close   Volume  day  month  year
Date
2020-05-29  2415.94  2442.3700  2398.1973  2442.37  3529329   29      5  2020
2020-05-28  2384.33  2436.9699  2378.2300  2401.10  3193136   28      5  2020
2020-05-27  2404.99  2413.5800  2330.0000  2410.39  5056945   27      5  2020
2020-05-26  2458.00  2462.0000  2414.0600  2421.86  3568153   26      5  2020
2020-05-22  2455.01  2469.8500  2430.1300  2436.88  2867079   22      5  2020

# Discretization of a continuous variable

In [8]:
df = pd.DataFrame(data= {'height':[175., 178.5, 185.,191., 184.5, 183., 168.]})
df

   height
0   175.0
1   178.5
2   185.0
3   191.0
4   184.5
5   183.0
6   168.0

In [10]:
df['height_cat'] = pd.cut(x=df.height, bins=3)
df

   height          height_cat
0   175.0  (167.977, 175.667]
1   178.5  (175.667, 183.333]
2   185.0    (183.333, 191.0]
3   191.0    (183.333, 191.0]
4   184.5    (183.333, 191.0]
5   183.0  (175.667, 183.333]
6   168.0  (167.977, 175.667]

In [11]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195))
df

   height  height_cat
0   175.0  (160, 175]
1   178.5  (175, 180]
2   185.0  (180, 195]
3   191.0  (180, 195]
4   184.5  (180, 195]
5   183.0  (180, 195]
6   168.0  (160, 175]

In [12]:
df['height_cat'] = pd.cut(x=df.height, bins=(160,175,180,195), labels=['small','medium','high'])
df

   height height_cat
0   175.0      small
1   178.5     medium
2   185.0       high
3   191.0       high
4   184.5       high
5   183.0       high
6   168.0      small

In [13]:
pd.get_dummies(df, drop_first=True, prefix='height')

   height  height_medium  height_high
0   175.0              0            0
1   178.5              1            0
2   185.0              0            1
3   191.0              0            1
4   184.5              0            1
5   183.0              0            1
6   168.0              0            0

# Feature Extraction

In [14]:
df= pd.DataFrame(data= {'lang':[['PL','ENG'], ['GER','ENG','PL','FRA'],['RUS']]})
df

                  lang
0            [PL, ENG]
1  [GER, ENG, PL, FRA]
2                [RUS]

In [15]:
df['lang_number'] = df['lang'].apply(len)
df

                  lang  lang_number
0            [PL, ENG]            2
1  [GER, ENG, PL, FRA]            4
2                [RUS]            1

In [17]:
df['ENG_flag'] = df['lang'].apply(lambda x: 1 if 'ENG' in x else 0)
df

                  lang  lang_number  ENG_flag
0            [PL, ENG]            2         1
1  [GER, ENG, PL, FRA]            4         1
2                [RUS]            1         0

In [18]:
df = pd.DataFrame(data={'website': ['wp.pl','onet.pl', 'google.com']})
df

      website
0       wp.pl
1     onet.pl
2  google.com

In [19]:
df.website.str.split('.', expand=True)

        0    1
0      wp   pl
1    onet   pl
2  google  com

In [21]:
new=df.website.str.split('.', expand = True)
df['portal'] = new[0]
df['extension'] = new[1]
df

      website  portal extension
0       wp.pl      wp        pl
1     onet.pl    onet        pl
2  google.com  google       com